
.left-panel{
  background-color: rgb(67, 183, 250);
  width: 200px;
  height: 98vh;
  text-align: center;
}
.title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 20px;
}
.h-tile{
    padding: 20px;
    font-size: 20px;
    background-color:rgb(16, 132, 199);
    color: white;

}
.d-list{
    padding: 10px;
    color: white;
    border: none;
    display: block;

}
.right-panel{
    position: absolute;
    top:10px;
    left: 220px;
    width: 174vh;
    height: 950px;
}
.logout{
    position: fixed;
    right: 40px;
    top: 25px;
    padding: 10px;
}
.d-list:active.d-list:hover{
    background-color: white;
    color: rgb(16, 132, 199);
}
.right-panel-window{
    margin-top:100px;
    margin-left: 60px;
    width: 160vh;
    height: 20vh;
}
.window{
    background-color: rgb(224, 223, 223);
    padding: 40px;
    border-radius: 5px;
}
.a-btn{
    margin-left: 20px;
    padding: 10px;
}
.view-btn{
    padding: 10px;
    margin-top: 20px;
}
table ,th, td{
    border: 1px solid;
    padding: 10px;
    border-collapse: collapse;
}
table{
    margin-top: 20px;
}
.e-btn{
    margin-top: 20px;
    padding: 10px;
}
.t-dlt{
    background-color: red;
    color: white;
}